@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; /* Added to ensure no unwanted padding */
}

body {
  background-image: url("images/bee-bg.png");
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.hero::before {
  content: "";
  background-image: url("images/beebar-bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
  z-index: 1;
}

.intro {
  position: relative;
  padding-top: 60px; /* Adjust to give space below the navbar */
  z-index: 1; /* Make sure it's above the navbar */
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure content is spaced correctly */
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align links on desktop */
  flex: 1;
}

.navbar .logo {
  height: 10rem;
}

.navbar a {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  width: 200px;
}

.navbar a:hover {
  color: black;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 40px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: background-color 0.3s ease;
}

.active {
  background-color: none; /* This is redundant, you can remove it */
}

.logo2 {
  display: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {

  .navbar-container {
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .nav-links.active {
    top: 0px;
    padding: 100px;
    background-color: #0000006d;
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .intro {
    margin-top: 150px;
  }

  .nav-links.active .intro {
    margin-top: 400px; /* Adjust based on the height of your mobile menu */
  }

  .nav-links.active .logo {
    display: none; /* Adjust based on the height of your mobile menu */
  }

  .logo-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo2 {
    display: block;
    height: 7rem;
  }

  .navbar a {
    padding: 0px;
  }
}

.hero h2 {
  position: relative;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 15%;
  z-index: 2;
}

.hero h5 {
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 50px 0px;
  z-index: 2;
}

.button {
  position: relative;
  color: white;
  border: 1px white solid;
  border-radius: 300px;
  text-decoration: none;
  padding: 20px;
  margin-top: 5%;
  z-index: 2;
}

.button:hover,
.button2:hover {
  color: black;
  border: 1px solid black;
}

.description {
  color: black;
  text-align: center;
  padding: 7% 30%;
}

.description p {
  padding: 30px;
  font-size: 1.5em;
}

.description h1 {
  padding: 30px;
}

.description hr {
  margin: 0px 50px;
}

.social-icon {
  height: 30px;
  width: auto;
}

.footer {
  text-align: center;
  background-color: white;
  margin-bottom: 5%;
}

.footer p {
  margin: 70px 0px;
}

.footer h1 {
  font-size: 10px;
}

.footer .logo {
  height: 10rem;
}

.button2 {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 20px;
  margin: 30px 0px;
  border-radius: 300px;
}

/* Slideshow */
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slideshow-container img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0px 2px 40px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 769px) {
  .description {
    padding: 30px;
  }
}

/* ABOUT */

.about-hero {
  background-color: black;
  position: relative;
  height: 50vh;
  width: 100%;
  text-align: center;
}

.about-hero::before {
  content: "";
  background-image: url("images/background.jpg");
  opacity: .5;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  z-index: 1;
}

.about-hero h2 {
  position: relative;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  z-index: 2;
}

.about-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.about-image {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.about-image {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-image:hover {
  transform: scale(1.1);
}

.description-text {
  background-color: #60adfb50;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(102, 102, 102);
  padding: 10%;
  max-width: 100%;
}

.description-text h1 {
  font-size: 2.5rem;
  color: black;
}

.description-text p {
  font-size: 1.125rem;
  color: black;
}

.companies {
  text-align: center;
  margin-bottom: 100px;
}

.companies img {
  height: 10rem;
  margin: 20px;
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
  .about-hero h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-top: 60%; /* Remove top margin */
    padding-bottom: 10%; 
  }

  .about-description {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .about-image {
    max-width: 100%; /* Ensure the image scales to fit the container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the image */
    transition: none;
  }

  .description-text {
    width: 90%;
    padding: 5%;
  }

  .description-text h1 {
    font-size: 2rem;
  }

  .description-text p {
    font-size: 1rem;
  }
}


/* FAQs */
.faq-container {
  width: 90%;
  margin: 0 auto;
}

.faq-item {
  margin: 15px 0;
}

.faq-question {
  cursor: pointer;
  padding: 15px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.faq-answer {
  display: none;
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-top: none;
}

.faq-question.active + .faq-answer {
  display: block;
}

.faq-question.active {
  background-color: #ddd;
}
